*{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    /* background-image: url('caminho/para/imagem/fundo.jpg'); */
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

h1 {

    font-size: 4em;
    margin-bottom: 0;
    color: #000;
}

#start-button {
    background-color: #42b983;
    color: #fff;
    border: none;
    padding: 1em 2em;
    margin-top: 1em;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  #start-button:hover {
    background-color: #3b8e76;
  }

#jogo {
    width: 500px;
    margin: 0px auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quadrados-input{
    margin: auto;
}
.quadrado {
    width: 80px;
    height: 80px;
    background-color: #8d08fa;
    color: #fff;
    border: 1px solid #000;
    display: inline-block;
    margin-right: 10px;
    font-size: 50px;
    text-align: center;
    border-radius: 5px;
    border: none;
}
.quadrado:focus{
    outline: none;
}

.quadrado-resposta {
    width: 80px;
    height: 80px;
    background-color: #e07250;
    color: #fff;
    border: 1px solid #000;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    border-radius: 5px;
    border: none;
}
.quadrado-resposta-existe {
    width: 80px;
    height: 80px;
    background-color: #c5c212;
    border: 1px solid #000;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    border-radius: 5px;
    border: none;
}
.quadrado-correto {
    width: 80px;
    height: 80px;
    background-color: #12c59e;
    border: 1px solid #000;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

#respostas{
    margin: auto;
}

#resposta{
    font-size: 30px;
    color: #000;
}
  
#ajudas {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#proximo-btn, #dica-btn {
    margin-top: 10px;
    font-size: 1.2em;
}

#proximo-btn, #dica-btn{
    background-color: #0683cc;
    color: #fff;
    border: none;
    padding: 5px 15px;
    margin-top: 1em;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  #proximo-btn, #dica-btn:hover {
    background-color: #036ca8;
  }

#label-dica{
    font-size: 30px;
    width: 140px;
    border:0.3px #666 solid;
    text-align: center;
    border-radius: 3px;
    margin-top: 10px;
}